@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">خوش امدید</h1>
    <p>درباره سایت : <a href="index">این سایت صرفا یک نمونه کار است</a>.</p>
</div>
